<div id="container">
    <div class="background"></div>
    <h2>Contact Us</h2>
    <p>We can help</p>
    <form [formGroup] = "emailForm" class="contact-form" (ngSubmit)="sendEmail()">
       <div class="name-container">
            <div class="input-component">
                <p><i class="bi bi-info-lg"></i>First Name</p>
                <input type="text" name="firstname" id="firstname" formControlName="firstName">
            </div>
            <div class="input-component">
                <p><i class="bi bi-info-lg"></i>Last Name</p>
                <input type="text" name="lastname" id="lastname" formControlName="lastName">
            </div>
       </div>
       <div class="email-container">
        <p><i class="bi bi-person" ></i> Email</p>
            <input type="email" name="email" id="email" formControlName="email">
       </div>
       <div class="email-container">
        <p><i class="bi bi-phone" ></i> Phone Number</p>
            <input type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
       </div>
       <div class="container1">
        <p><i class="bi bi-pencil"></i> Subject</p>
            <input type="text" name="subject" id="subject" formControlName="subject">
       </div>
       <div class="message-container">
        <p><i class="bi bi-chat-right-text"></i> Message</p>
            <textarea formControlName="body"></textarea>
       </div>
       <button mat-button class="send-email" type="submit" id="email-button" [disabled]="emailForm.invalid">Send Email <i class="bi bi-envelope-arrow-up" ></i></button>
    </form>
</div>
