.underline{
    text-decoration:underline;
    font-weight:bold;
}
div{
    padding:10px;
}
.bold{
    font-weight:bold;
}
.underlineTitle{
    text-decoration:underline;
}
h2{
    text-align:center;
}