    <div class="background"></div>
    <div id="wrapper">

    <div class="video-container">
    <video autoplay loop preload="auto" class="landing-video" onloadedmetadata="this.muted=true" (load)="load()" playsinline>
        <source [src]="url" type="video/mp4">
    </video>
       </div> 
    
    <!--<img class="hidden" src="https://cdnassets.hw.net/c3/e7/bbdf5c9c4bf388005d1b1bad6b78/house-plan-430-184.jpg">-->

    <div class="what-we-do">
        <p>Luminate Media is a media company that primarily services real estate agents. Serving Chicago and the suburbs, we offer a wide range of services and packages to help you decide how you would like to market any listings you have. These range from professional listing photos, video tours, drone media, 2D floor plans and more services coming soon. Our team of photographers and editors are here to support you and we are committed to delivering both professional, high quality, and exceptional service for our clients.</p></div>
  
    <div class="offer hidden-2">
     
         
            <h2 class="offer-header">Our Services</h2>
          
      <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">      
                   <img class="img-expand" src="../../../assets/services/Thumbnails_17.jpg">    
                </div>
                
              
          
        </div>
        <div class="offer-card"> 
            <div class="offer-image">      
               <img class="img-expand" src="../../../assets/services/Thumbnails_13.jpg">    
            </div>
            
            
        </div>
        <div class="offer-card"> 
            <div class="offer-image">      
               <img class="img-expand" src="../../../assets/services/Thumbnails_14.jpg">    
            </div>
            
           
        </div>
      
      
        <div class="offer-card"> 
            <div class="offer-image">      
               <img class="img-expand" src="../../../assets/services/Thumbnails_15.jpg">    
            </div>
            
           
        </div>
        <div class="offer-card"> 
            <div class="offer-image">      
               <img class="img-expand" src="../../../assets/services/Thumbnails_16.jpg">    
            </div>
            
            
        </div>
        <div class="offer-card"> 
            <div class="offer-image">      
               <img class="img-expand" src="../../../assets/services/Thumbnails_18.jpg">    
            </div>
            
            
        </div>
     </div>

 </div>
    
    <!--
    <div class="testimonials">
    <p>Testimonials</p>
        <div class="testimonial-container">
            
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque iure unde molestias odit saepe? Odio, facere eius laudantium voluptas debitis, velit iste expedita</a>
                </div>
            </div>
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>asdasdasdasdasdasdasdasdasdasdasd</a>
                </div>
            </div>
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>asdasdasdasdasdasdasdasdasdasdasd</a>
                </div>
            </div>
        </div>
        </div>
    -->
    
    <div class="wcl-container">
        <a>Why Choose Luminate?</a>
        <p>With today’s competitive market, we understand that high-quality visuals are a necessity for agents. Our team consists of professionals sharing both years of experience as well as an eye for detail. Luminate is committed to delivering high quality marketing material to our clients. Our team has streamlined our workflow to make sure both booking & delivery is smooth and stress-free.</p>
        </div>
        <div class="contact">
            <p class="c-header">Reach Us Here!</p>
           <div class="social-div">
            
            
            
                
                <a href="mailto:info@luminatechicago.com" class="ms">info@luminatechicago.com</a>
              
                
          
            </div>
        </div>
    
        <div class="social-div">
            <div class="column">
            <a class="social-icon" href="https://www.instagram.com/luminatechicago/"><i class="bi bi-instagram"></i>        </a>
            </div>
            <div class="column">
                <a class="social-icon" href="https://www.facebook.com/luminatechicago"><i class="bi bi-facebook"></i>
                </a>
            </div>
            <div class="column">
        <a href="https://www.tiktok.com/@luminatechicago" class="social-icon"><i class="bi bi-tiktok"></i>
        </a>
            </div>
        </div>
        <img class="bottom-logo" src="../../../assets/Luminate Media Final_-02.png">
    </div>
    