<div id="wrapper">
    
    <div class="video-container">
    <video autoplay loop class="landing-video">
        <source src="../../../assets/Horizontal Landing.mov" type="video/mp4">
    </video>
       </div> 
    
    <!--<img class="hidden" src="https://cdnassets.hw.net/c3/e7/bbdf5c9c4bf388005d1b1bad6b78/house-plan-430-184.jpg">-->
    <div class="wwd-container">
    <div class="what-we-do">Luminate delivers convenient Real Estate Photography, Real Estate Videography, Matterport 3D, and Floor Plans to all Real Estate Professionals who want to provide the best listing marketing solutions to their clients.  We work with both brokerages and individual agents to give the best tools to get results from their listings. Many of our clients have reported record sale times when using our services. We service all of Chicago and surrounding suburbs, as well as other cities in Illinois. </div>
    </div>
    <div class="offer hidden-2">
        <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">      
                                  <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
                </div>
                <h2>Photos</h2>
                <p>1</p>
            </div>
            <div class="offer-card"> 
                <div class="offer-image"><img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA"></div>
                <h2>Drones</h2>
                <p>2</p>
            </div>
        </div>
        <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
                </div>
                <h2>hello</h2>
                <p>1</p>
            </div>
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
    
                </div>
                <h2>hello</h2>
                <p>2</p>
            </div>
        </div>
        <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
    
                </div>
                <h2>hello</h2>
                <p>1</p>
            </div>
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
    
                </div>
                <h2>hello</h2>
                <p>2</p>
            </div>
        </div>
    </div>
    
    <div class="testimonials">
    <p>Testimonials</p>
        <div class="testimonial-container">
            
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque iure unde molestias odit saepe? Odio, facere eius laudantium voluptas debitis, velit iste expedita</a>
                </div>
            </div>
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>asdasdasdasdasdasdasdasdasdasdasd</a>
                </div>
            </div>
            <div class="testimonial hidden">
              
                <div class="circle">
                    <img class="img-expand"src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Emblem-person-blue.svg/2048px-Emblem-person-blue.svg.png">
                </div>
                <div class="testimonial-text">
                    <a>asdasdasdasdasdasdasdasdasdasdasd</a>
                </div>
            </div>
        </div>
        </div>
    <div class="loremm">
        <a>What makes us great</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nesciunt deleniti facere consequatur quaerat, autem asperiores quisquam impedit porro voluptas incidunt laboriosam praesentium non repudiandae nam veniam dolore aliquid dolorem.</p>
        </div>
        <div class="contact">
            <p>Contact us</p>
           <div class="social-div">
            <div class="column">
               <div>
                Phone
                <p>630 000 0000</p>
               </div>
           
            </div>
            <div class="column">
              <div>
                Email
                <p>email@email.com</p>
              </div>
                </div>
          
            </div>
        </div>
    
        <div class="social-div">
            <div class="column">
            <a><i class="bi bi-instagram"></i>        </a>
            </div>
            <div class="column">
                <a><i class="bi bi-facebook"></i>
                </a>
            </div>
            <div class="column">
        <a><i class="bi bi-youtube"></i>
        </a>
            </div>
        </div>
    </div>
    