#wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:Center;
}
.background{
    background-image: url("../../../assets/Website_Background.jpg");
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
 
}
.img-expand{

    width:100%;
    height:100%;
    object-fit:cover;
    background-image: url("../../../assets/_DSC9014-HDR.jpg");
    border-radius:10px;
}
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-50%);


}
.hidden-2{
    filter:blur(5px);
    transform:translateY(10%);
    opacity:0;
    transition: all 1s;
}
.show{
    opacity:1;
    filter:blur(0);
    transform: translateX(0);
    transform: translateY(0);
}
.underpic{
    min-height:20vh;
    min-width:100%;
    background-color:rgb(131, 121, 121);
    display:flex;
    justify-content:center;
    padding:10px;
}
.testimonial{
    background-color:black;         
    color:white;
    width:20%;
    max-width:20%;
    border-radius:10px;
    text-align:center;
    height:50%;
    padding:10px;
    display:flex;
    align-items:center;
    box-shadow:0px 5px 5px 1px black;
}
.testimonial-container{
    display:flex;
    width:100%;
    justify-content:space-evenly;
    height:100%;
    align-items:Center;
   
}
.what-we-do{
    text-align:center;
    width:60%;
    padding:20px;
    min-height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.what-we-do p{
    font-size:20px;
}
.offer{
    display:flex;
    
    max-height:250vh;
    width:100%;
    flex-direction:column;
    align-items:center;
}
.offer-header{
    
    padding-bottom:10px;
    margin-bottom:30px;
    text-align:center;
    text-decoration:underline;
    font-size:38px;
}

.offer-column{
    height:100%;
    width:80%;
    gap:3%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    margin-bottom:20px;
}
.c-text h2{
font-size:24px;
text-align: start;
color:black;
}
.c-text{
    width:93%;
    height:25%;
}

.offer-card{
    width:25%;
    height:250px;
    display:flex;
    flex-direction:column;
    border:1px rgb(189, 189, 189) solid;
    background-color:rgb(243, 243, 243);
    align-items:center;
    justify-content:center;
    border-radius:10px;
    box-shadow: 1px 1px 3px rgb(112, 112, 112); 
    margin-bottom:10px;
}
.offer-image{
    padding:12px;
    height:100%;
   width:100%;
    
    
    border-radius:10px;
}
h2{
    color:black;
}

.social-div{
    height:200px;
    display:flex;
    flex-direction:row;
    color:black;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.column{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.column div{
    text-align:center;
    
}

.testimonials{
    display:flex;
    flex-direction:column;
    text-align:center;
    height:400px;
    background: url("../../../assets/prism.png");
    padding:10px;
    align-items:center;
}

.circle{
    background-color:rgb(85, 79, 79);
    border-radius:100%;
    height:100px;
    width:100px;
}
.testimonial-text{
    width:65%;
    height:100%;
    word-wrap:break-word;
}
.c-container{
    width:100%;
}
.c-container img{
    width:100%;
    max-height:90vh;
    object-fit:cover
}
.wcl-container{
    display:flex;
    flex-direction:column;
    color:black;
    text-align:center;
    min-height:400px;
    justify-content:center;
    align-items:center;
    gap:18px;
}
.wcl-container a{
    font-size:36px;
    font-weight:bold;
}
.wcl-container p{
    width:85%;
    font-size:20px;
}
.video-container{
    height:100%;
    width:100%;
 
}
.landing-video{
    width:100%;

}
.offer-container h2{
    width:100%;
}
.c-header{
    text-align:center;
    font-size:40px;
    margin-bottom:0;
    height:10px;
}
.ms{
    font-size:25px;
    text-decoration:underline;
}
.bottom-logo{
    width:20%;
}
.social-icon{
    cursor:pointer;
    color:#DA3832;
}
.social-icon i{
    font-size:34px;
}
@media (max-width:600px){
    .offer-card{
        width:100%;
    }
    .ms{
        font-size:16px;
    }
    .social-icon i{
        font-size:25px;
    }
}