<div class="wrapper">
  <header id="header-luminate" class="">

    <div class="header-logo">
      <img src="../assets/Luminate Media Final_-02.png" style="width:180px">
    </div>
    <div id="header-container">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="gallery">Gallery </a>
      <a class="nav-link" href="about-us">About us</a>
      <a class="nav-link" href="#">Contact</a>
      <a class="nav-link" href="services">Services </a>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>Luminate Chicago 2023</footer>
</div>