<mat-drawer-container class="wrapper" autosize>
  <mat-drawer #drawer class="sidenav" mode="over" >
    <div class="side-list">
      <li class="nav-link phone" routerLink="/" (click)="drawer.toggle()">Home</li>
      <li class="nav-link phone" routerLink="gallery" (click)="drawer.toggle()">Gallery</li>
      <li class="nav-link phone" routerLink="clientTrainingCenter" (click)="drawer.toggle()"><a>Client Training Center</a></li>

      <li class="nav-link phone" routerLink="contact" (click)="drawer.toggle()"><a>Contact</a></li>
      <li class="nav-main-button schedule-phone"><a class=" schedule-phone" href="https://book.luminatechicago.com/order/luminate/book">Schedule a Shoot</a></li>
    </div>
  </mat-drawer>
  <header id="header-luminate" class="">

    <div class="header-logo">
      <img src="../assets/Luminate Media Final_-02.png" style="width:180px">
    </div>
    <div id="header-container"*ngIf="showHamburgerMenu">
      <button  type="button" (click)="drawer.toggle()" *ngIf="showHamburgerMenu"><i class="bi bi-list hamIcon"></i></button>
      
    </div>
    <div id="header-container" *ngIf="!showHamburgerMenu">
      <a class="nav-link" href="#">Home</a>
      <a class="nav-link" href="gallery">Gallery </a>
      <a class="nav-link" href="clientTrainingCenter">Client Training Center</a>
      <a class="nav-link" href="contact">Contact</a>
      <a class="nav-main-button" href="https://book.luminatechicago.com/order/luminate/book">Schedule a Shoot </a>
      
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div id="links" *ngIf="!checkRt()">
    <p (click)="openDialog()">Terms of Conditions</p>
    <p routerLink="checklist">Getting Ready Checklist</p>
  </div>
  <footer>
    Luminate Media 2024</footer>
</mat-drawer-container>