<div id="service-body">
    <div class="services-container hidden-2">
        <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">      
                                  <img class="img-expand" src="../../../assets/176A2450-HDR2.jpg">
                </div>
                <h2>Photos</h2>
                <p>1</p>
            </div>
            <div class="offer-card"> 
                <div class="offer-image"><img class="img-expand" src="../../../assets/DJI_0038.jpg"></div>
                <h2>Video</h2>
                <p>2</p>
            </div>
        </div>
        <div class="offer-column">
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="../../../assets/DJI_0038.jpg">
                </div>
                <h2>Drone</h2>
                <p>1</p>
            </div>
            <div class="offer-card"> 
                <div class="offer-image">
                    <img class="img-expand"src="https://res.cloudinary.com/brickandbatten/images/f_auto,q_auto/v1660247639/wordpress_assets/ContemporaryStyle-Twitter-card/ContemporaryStyle-Twitter-card.jpg?_i=AA">
    
                </div>
                <h2>Rental Photo</h2>
                <p>2</p>
            </div>
        </div>
     
    </div>
    <div id="special">
        <div class="offer-card"> 
            <div class="offer-image">      
                              <img class="img-expand" src="../../../assets/4I1A2822-HDR22.jpg">
            </div>
            <h2>All in One</h2>
            <p>$299</p>
        </div>
</div>
